<div class="background-image" style="background-image: url(<%= background_image %>)">
  <div class="container">
    <div class="user-form">
      <% if flash[:errors] %>
        <ul class="flash-errors">
          <% flash[:errors].try(:each) do |error| %>
            <li class="alert alert-danger"><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <h1>Sign in</h1>

      <form action="<%= session_url %>" method="POST" role="form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" name="username" id="userName" class="form-control">
        </div>

        <div class="form-group">
          <label for="userPassword">Password</label>
          <input type="password" name="password" id="userPassword" class="form-control">
        </div>

        <button class="btn btn-primary sign-in-button">Sign in</button>
        <button class="btn btn-default guest-sign-in">Guest</button>
      </form>

      <div class="main-page-info">
        <%= render partial: 'layouts/info' %>
      </div>
    </div>
  </div>
</div>