<div class="index-picture-container">
  <a href="#/picture/<%= picture.id %>">
    <img src="<%= picture.escape('image_url_small') %>">
  </a>

  <div class="picture-views">
    <%= picture.escape("score") %>
  </div>

  <div class="picture-info">
    <div class="picture-title">
      <%= picture.escape("title") %>
    </div>
    <div class="picture-author">
      <%= picture.escape("username") %>
    </div>
  </div>

  <div class="picture-like">
    <% var color = picture.escape("user_liked") === "true" ? "firebrick" : "white" %>
    
    <div class="heart">
      <span class="glyphicon glyphicon-heart" style="color: <%= color %>;"></span>
    </div>
    
    <div class="likes-count">
      <span class="span-likes-count">
        <%= picture.escape("likes") %>
      </span>
    </div>

  </div>
</div>