<div class="title clearfix">
  <div class="picture-avatar">
    <img src="<%= picture.escape('avatar') %>">
  </div>
  <h2 class="h2-title"><%= picture.escape("title") %></h2>
  <span><%= picture.escape("username") %></span>
</div>

<h4>Views: <%= picture.escape("views") %></h4>
<div class="div-picture">
  <img src="<%= picture.escape('image_url_big') %>">
</div>

<h3>Description</h3>
<p><%= picture.escape("description") %></p>

  <div class="div-new-comment">
    <form class="new-comment">
      <textarea class="new-comment-body form-control" rows="3"></textarea>

      <button class="btn btn-primary">Comment</button>
    </form>
  </div>

<div class="show-comments">
  <ul class="ul-comments">

  </ul>
</div>