<div class="title clearfix">
  <div class="picture-avatar">
    <img src="<%= picture.escape('avatar') %>">
  </div>
  <h2 class="h2-title"><%= picture.escape("title") %></h2>
  <a href="#/user/<%= picture.escape('user_id') %>">
    <span><%= picture.escape("username") %></span>
  </a>

  <div class="score-wrapper">
    <div class="show-picture-score">
      Score: <%= picture.escape("score") %>
    </div>
    <div class="show-picture-highest">
      Highest: <%= picture.escape("highest_score") %>
    </div>
  </div>

  <div class="show-picture-like">
    <% var color = picture.escape("user_liked") === "true" ? "firebrick" : "white" %>
    
    <div class="show-heart">
      <span class="glyphicon glyphicon-heart" style="color: <%= color %>;"></span>
    </div>
    
    <div class="show-likes-count">
      <span class="span-show-likes-count">
        <%= picture.escape("likes") %>
      </span>
    </div>

  </div>
</div>

<div class="picture-show-views">
  <h4>Views: <%= picture.escape("views") %></h4>
</div>

<div class="div-picture">
  <img src="<%= picture.escape('image_url_big') %>"
       class="click-picture">
  
  <a href="#/picture/<%= picture.escape("previous_picture") %>">
    <div class="previous-picture picture-index">
      <span class="glyphicon glyphicon-chevron-left">
    </div>
  </a>

  <a href="#/picture/<%= picture.escape("next_picture") %>">
    <div class="next-picture picture-index">
      <span class="glyphicon glyphicon-chevron-right">
    </div>
  </a>
</div>

<div class="keyboard-helpers">
  Press arrow key left or right to navigate
</div>

<div class="description-wrapper">
  <h3>Description</h3>
  <div class="picture-description">
    <p><%= picture.escape("description") %></p>
  </div>

  <div class="easter-egg-wrapper">
    <div class="show-source">
      show source
    </div>
    <div class="card">
      <div class="source-front">
      </div>

      <div class="source-back" style="background-image: url(<%= egg %>)">
        
      </div>
    </div>
  </div>
</div>

  <div class="div-new-comment">
    <form class="new-comment">
      <textarea class="new-comment-body form-control" rows="3"></textarea>

      <button class="btn btn-primary btn-sm">Comment</button>
    </form>
  </div>

<div class="show-comments">
  <ul class="ul-comments">

  </ul>
</div>