<div class="background-image" style="background-image: url(<%= background_image %>)">
  <div class="container">
    <div class="user-form">
      <% if flash[:errors] %>
        <ul class="flash-errors alert alert-danger">
          <% flash[:errors].try(:each) do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <h1>Sign up</h1>

      <form action="<%= users_url %>" method="POST" role="form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" name="user[username]" class="form-control" id="userName">
        </div>

        <div class="form-group">
          <label for="userPassword">Password</label>
          <input type="password" name="user[password]" class="form-control" id="userPassword">
        </div>

        <button class="btn btn-primary">Sign up</button>
      </form>

      <div class="main-page-info">
        <%= render partial: 'layouts/info' %>
      </div>
    </div>
  </div>
</div>
