<!DOCTYPE html>
<html>
  <head>
    <title>Picturito</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Picturito</a>
    </div>
    <% if current_user %>

      <ul class='nav navbar-nav'>
        <li>
          <a href="#/popular">Popular</a>
        </li>
        <li>
          <a href="#/favorites">Favorites</a>
        </li>
        <li><a href="#"
          data-toggle="modal"
          data-target="#pictureUpload"
          data-from="upload" id="picture-upload">Upload</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <ul class="nav navbar-nav activities">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  id="activity-button">Activity<span class="caret"></span></a>
            <ul class="dropdown-menu scrollable-menu ul-activities" role="menu">
              <li><a href="#"></a></li>
            </ul>
          </li>
        </ul>

        <li><a href="#/profile"><img src="<%= current_avatar %>" class="current-avatar"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.username %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu ul-user" role="menu">
            <li><a href="#" id="avatar-upload"
              data-toggle="modal"
              data-target="#pictureUpload"
              data-from="avatar">Upload Avatar</a>
            </li>
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#/contact">Contact</a></li>
            <li>
              <%= link_to "Sign out", session_url, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>

    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign in", new_session_url %></li>
        <li><%= link_to "Sign up", new_user_url %></li>
      </ul>
    <% end %>
  </div>
  </nav>

  <%= yield %>

  <!-- upload modal -->
  <div class="modal fade" id="pictureUpload" tabindex="-1" role="dialog" aria-labelledly="Upload" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="Upload">Upload</h4>
        </div>

        <div class="modal-body">
          <form class="picture-upload-form" enctype="multipart/form-data" role="form">

            <div class="form-group">
              <label for="pictureTitle">Title</label>
                <input id="pictureTitle" type="text" class="form-control upload-picture-title">
            </div>
            <div class="form-group">
              <label for="pictureDescription">Description</label>
                <textarea id="pictureDescription" class="upload-picture-description form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="pictureFile">File</label>
                <input id="pictureFile" type="file" class="upload-picture-file form-control">
            </div>

            <div class="preview-holder">
              <div id="previewHolder">
                <span id="preview-text">preview</span>
              </div>
            </div>

            <div class="modal-footer">
                <button class="picture-upload btn btn-default" data-type="upload" data-loading-text="Uploading...">Upload</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  
  <%= javascript_include_tag 'application'%>
  <script>TOTAL_PAGES = <%= Picture.total_pages %> </script>
    <script>EGGS = <%= raw eggs %></script>
    <% if current_user %>
      <script>CURRENT_USER = <%= current_user.id %></script>
    <% else %>
      <script>CURRENT_USER = 0</script>
    <% end %>
  </body>
</html>
